/* style.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Inclui padding e borda nas dimensões */
}

body {
    background-color: #2c3e50; /* Cor de fundo */
    color: white; /* Cor do texto */
    font-family: "Inter", sans-serif; /* Fonte */
}

#container {
    width: 360px;
    border: 1px solid rgba(0, 255, 0, 0.863);
    margin: 56px auto 0px; 
    padding: 0 24px; /* Adicionando padding para espaçamento */
}

#profile {
    text-align: center;
    padding: 24px;
}

#profile img {
    width: 112px;
}

#profile p {
    font-size: 20px; /* Ajustando o tamanho da fonte */
    margin-top: 8px;
}

ul {
    list-style: none; /* Para mostrar bolinhas */
    display: flex; /* Habilita o uso de gap */
    flex-direction: column; /* Alinha itens em uma coluna */
    gap: 20px; /* Espaço entre as colunas */
    padding: 24px 0px;


}

ul li {
    border: 1px solid white;
    border-radius: 10px;
}

ul li a {
    display: flex;
    text-decoration: none; /* Remover sublinhado dos links */
    color: white; /* Cor do texto dos links */
    justify-content: center;
    padding: 16px;
    font-weight: 500px;

    background: rgb(44, 105, 133);
    border: 1px solid white;
    border-radius: 8px;

    -webkit-backdrop-filter: blur(4px);

    transition: background 0.2s;
}    

/* pseudo-selector */

ul li a:hover {
    background: rgb(255, 255, 255, 0.05);
    border: 1.5px solid white
}

/* social links */
#social-links{
    display: flex;
    justify-content: center;
    gap: 32px;
    padding: 24px 0px;
    font-size: 24px;
    
}

#social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    transition: background 0.2s;
    border-radius: 50%;
    
    ion-icon {
        color: white;
    }
}

#social-links a:hover {
    background: rgba(255, 255, 255, 0.2);
    padding: 16px;


}
footer{
    padding: 24px 0px;
    text-align: center;
    font-size: 14px;
    color: white
}
{
    

}
