/* style.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Inclui padding e borda nas dimensões */
}

body {
    background-color: #2c3e50; /* Cor de fundo */
    color: white; /* Cor do texto */
    font-family: "Inter", sans-serif; /* Fonte */
}

#container {
    width: 360px;
    border: 1px solid rgb(105, 119, 105);
    margin: 56px auto;
    padding: 16px; /* Adicionando padding para espaçamento */
}

#profile {
    text-align: center;
    padding: 24px;
}

#profile img {
    width: 112px;
}

#profile p {
    font-size: 20px; /* Ajustando o tamanho da fonte */
    margin-top: 8px;
}

ul {
    list-style: none; /* Para mostrar bolinhas */
    display: flex; /* Habilita o uso de gap */
    flex-direction: column; /* Alinha itens em uma coluna */
    gap: 20px; /* Espaço entre os itens */


}

ul li {
    border: 1px solid white;
}

ul li a {
    display: flex;
    text-decoration: none; /* Remover sublinhado dos links */
    color: white; /* Cor do texto dos links */
    justify-content: center;
    padding: 16px 24px;

    background: rgb(44, 105, 133);
}